.father {
  display: flex;
  /* main axis */
  justify-content: space-around;
  height: 100vh;
}

.child {
  background: blue;
  height: 200px;
  width: 200px;
  color: white;
  font-size: 50px;
}

.child:nth-child(1) {
  align-self: center;
  order: 2;
}

.child:nth-child(2) {
  align-self: flex-end;
  order: 0;
}
